body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
}

.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 215, 0, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
}

.leftlogo img {
    height: 80px;
    width: 80px;
    position: relative;
    right: 200px;
}

.list li {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: #007236;
    text-decoration: none;
}

.list ul a{
    text-decoration: none;
}

.list li:hover {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: black;
    cursor: pointer;
}

.header {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.header img{
    object-fit: cover;
    position: relative;
    bottom: 190px;
}

.content {
    height: 30vh;
    width: 100%;
}

.content h1, h3{
    margin-left: 80px;
    position: relative;
    top: 60px;
}

h1 {
    color: #007236;
}

.main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.main .report, .appointment,.arena {
    position: relative;
    top: 100px;
}

#center {
    text-align: center;
}

.main .report {
    background-color: #007236;
    padding: 10px;
    width: 250px;
    height: 100px;
    border-radius: 100px;
    transition: transform 0.5s ease-in-out;
}

.main .report:hover {
    transform: scale(1.1);
}

.main .report img {
    position: relative;
    width: 90px;
    bottom: 20px;
    left: 5px;
}

.main .report h4 {
    position: relative;
    left: 110px;
    top: 37px;
    margin: 0px;
    font-size: large;
}

.main .appointment {
    background-color: #007236;
    padding: 10px;
    width: 250px;
    height: 100px;
    border-radius: 100px;

    transition: transform 0.5s ease-in-out;
}

.main .appointment:hover {
    transform: scale(1.1);
}

.main .appointment img {
    position: relative;
    width: 90px;
    bottom: 40px;
    left: 5px;
}

.main .appointment h4 {
    position: relative;
    left: 110px;
    top: 23px;
    margin: 0px;
    font-size: large;
}

.main .arena {
    background-color: #007236;
    padding: 10px;
    width: 250px;
    height: 100px;
    border-radius: 100px;
    transition: transform 0.5s ease-in-out;
}

.main .arena:hover {
    transform: scale(1.1);
}

.main .arena img {
    position: relative;
    width: 90px;
    bottom: 65px;
    left: 5px;
}

.main .arena h4 {
    position: relative;
    left: 110px;
    top: 14px;
    margin: 0px;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 20vh;
    width: 100%;
    position: relative;
    background-color: #007236;
}

.footer ul{
    position: relative;
    bottom: 7px;
}

.line ul a{
    text-decoration: none;
    position: relative;
    top: 15px;
    color: black;
}

.line ul a li{
    list-style: none;
    color: black;
    padding-top: 10px;
    font-weight: 600;
}

.line ul a li:hover{
    list-style: none;
    color: #f6eb13;
    padding-top: 10px;
    font-weight: 600;
    width: 300px;
}
