body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 215, 0, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
}

.leftlogo img {
    height: 80px;
    width: 80px;
    position: relative;
    right: 200px;
}

.list li {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: #007236;
    text-decoration: none;
}

.list ul a{
    text-decoration: none;
}

.list li:hover {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: black;
    cursor: pointer;
}

.header {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.header img{
    object-fit: cover;
    position: relative;
    bottom: 190px;
}

.content {
    height: 30vh;
    width: 100%;
}

.content h1, h3{
    margin-left: 80px;
    position: relative;
    top: 60px;
}

h1 {
    color: #007236;
}

.contents {
    height: 80vh;
    width: 100%;
    display: flex;
}

.contents img {
    height: 60%;
    position: relative;
    top: 30px;
    left: 45px;
    border-radius: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 120px;
}

#gmaps {
    position: relative;
    bottom: 90px;
    left: 300px;
    z-index: 999;
}

.text p a{
    text-decoration: none;
    color: #007236;
}

.footer {
    height: 20vh;
    width: 100%;
    position: relative;
    background-color: #007236;
}

.footer ul{
    position: relative;
    bottom: 7px;
}

.line ul a{
    text-decoration: none;
    position: relative;
    top: 15px;
    color: black;
}

.line ul a li{
    list-style: none;
    color: black;
    padding-top: 10px;
    font-weight: 600;

}

.line ul a li:hover{
    list-style: none;
    color: #f6eb13;
    padding-top: 10px;
    font-weight: 600;
    width: 300px;
}
