body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
}

.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 215, 0, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
}

.leftlogo img {
    height: 80px;
    width: 80px;
    position: relative;
    right: 200px;
}

.list li {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: #007236;
}

.list ul a{
    text-decoration: none;
}

.list li:hover {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: black;
    cursor: pointer;
}

.page1 {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.page1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.5);
    margin-top: 200px;
    margin-left: 100px;
}

.page1 h1{
    display: inline-block;
    animation: slide 2s infinite alternate;
}

.history {
    height: 100vh;
    width: 100%;
    background-color: #007236;
    display: flex;
}

.left {
    height: 100vh;
    width: 50%;
    display: flex;
}

.left img {
    height: 60%;
    position: relative;
    top: 140px;
    left: 20px;
    border-radius: 20px;
}

.right {
    height: 100vh;
    width: 50%;
}

.right h2 {
    font-size: 40px;
    margin-top: 30px;
    color: #f6eb13;
    text-align: center;
}

.right h3 {
    font-style: italic;
    color: #f6eb13;
    text-align: center;
}

.right p {
    font-size: 18px;
    color: #f6eb13;
    margin: 30px;
    margin-top: 20px;
}

.infrastructure h1 {
    text-align: center;
    position: relative;
    top: 40px;
    color: #f6eb13;
}

.infrastructure {
    height: 120vh;
    width: 100%;
    position: relative;
    background-color: #f6eb13;
    background-image: url(drone.png);
    background-size: cover;
    background-position: center;
}

.row1, .row2 {
    margin-top: 85px;
}

.row1 {
    display: flex;
    gap: 40px;
    justify-content: center;
}


.newcityhall {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-color: #007236;
    transition: transform 0.3s ease;
}

.newcityhall:hover {
    transform: scale(1.1);
}

.infrastructure .newcityhall img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .newcityhall h3{
    margin-top: 35px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .newcityhall a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.arena {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-color: #007236;
    transition: transform 0.3s ease;
}

.arena:hover {
    transform: scale(1.1);
}

.infrastructure .arena img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .arena h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .arena a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.kld {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.kld:hover {
    transform: scale(1.1);
}

.infrastructure .kld img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .kld h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .kld a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}


.sm {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.sm:hover {
    transform: scale(1.1);
}

.infrastructure .sm img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .sm h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .sm a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.row2 {
    display: flex;
    gap: 40px;
    justify-content: center;
}


.kadiwa {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.kadiwa:hover {
    transform: scale(1.1);
}

.infrastructure .kadiwa img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .kadiwa h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .kadiwa a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.museum {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.museum:hover {
    transform: scale(1.1);
}

.infrastructure .museum img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .museum h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .museum a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.church {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.church:hover {
    transform: scale(1.1);
}

.infrastructure .church img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .church h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .church a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.volets {
    width: 250px;
    height: 300px;
    background-color: #007236;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.volets:hover {
    transform: scale(1.1);
}

.infrastructure .volets img{
    width: 220px;
    position: relative;
    left: 14px;
    top: 20px;
    border-radius: 10px;
}

.infrastructure .volets h3{
    margin-top: 40px;
    color: #f6eb13;
    text-align: center;
}

.infrastructure .volets a{
    text-decoration: none;
    color: #f6eb13;
    text-align: center;
    position: relative;
    top: 20px;
}

.footer {
    height: 20vh;
    width: 100%;
    position: relative;
    background-color: #007236;
}

.footer ul{
    position: relative;
    bottom: 7px;
}

.line ul a{
    text-decoration: none;
    position: relative;
    top: 15px;
    color: black;
}

.line ul a li{
    list-style: none;
    color: black;
    padding-top: 10px;
    font-weight: 600;
    z-index: 999;
}

.line ul a li:hover{
    list-style: none;
    color: #f6eb13;
    padding-top: 10px;
    font-weight: 600;
    width: 300px;
}
