body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
}

.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 215, 0, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
}

.leftlogo img {
    height: 80px;
    width: 80px;
    position: relative;
    right: 200px;
}

.list li {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: #007236;
    text-decoration: none;
}

.list ul a{
    text-decoration: none;
}

.list li:hover {
    display: inline;
    margin: 20px;
    position: relative;
    left: 190px;
    color: black;
    cursor: pointer;
}

.header {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.header img{
    object-fit: cover;
    position: relative;
    bottom: 190px;
}

.content {
    height: 20vh;
    width: 100%;
}

.content h1, h3{
    margin-left: 80px;
    position: relative;
    top: 60px;
}

h1 {
    color: #007236;
}

.question {
    height: 80vh;
    width: 100%;
    position: relative;
}

.survey {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 65px;
}

.survey #name {
    outline: none;
    padding: 10px;
    border: solid #007236 2px;
    border-radius: 10px;
    width: 255px;
    height: 30px;
}

.survey select {
    outline: none;
    padding: 10px;
    border: solid #007236 2px;
    border-radius: 10px;
    width: 280px;
    height: 50px;
    cursor: pointer;
}

.survey .address {
    width: 280px;
    height: 150px;
    resize: none;
    overflow: auto;
    border: #007236 solid 2px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.survey .address::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.survey .concern {
    width: 280px;
    height: 150px;
    resize: none;
    overflow: auto;
    border: #007236 solid 2px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.survey .concern::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.survey #file {
    display: none;
}

.fileLabel {
    background-color: white;
    border: #007236 solid 2px;
    padding: 7px;
    width: 82px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.fileLabel:hover {
    background-color: #007236;
    color: white;
    cursor: pointer;
}

#submit {
    position: absolute;
    top: 1000px;
    left: 65px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    border: #007236 solid 2px;
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

#submit:hover {
    background-color: #007236;
    color: white;
}

.popup {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 114, 54, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 999; 
    border: #007236 so;
}

.popup.open {
    opacity: 1;
    pointer-events: auto; 
    z-index: 999;
}

.popup h2, p {
    text-align: center;
}

.popup h2 {
    position: relative;
    bottom: 40px;
    border: #007236 solid;
    background-color: #007236;
    padding-bottom: 90px;
    padding-top: 20px;
    width: 700px;
    height: 60px;
    border-radius: 50px;
}

.popup p {
    position: relative;
    bottom: 140px;
    z-index: 100
}

.oks {
    background-color: white;
    border: none;
    position: relative;
    bottom: 110px;
    left: 320px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

#error {
    opacity: 0;
    position: relative;
    bottom: 29px;
    right: 490px;
    font-style: italic;
    font-weight: 600;
    pointer-events: none;
}

#error.open {
    opacity: 1;
    pointer-events: none; 
    z-index: 999;
}

.footer {
    height: 20vh;
    width: 100%;
    position: relative;
    background-color: #007236;
}

.footer ul{
    position: relative;
    bottom: 7px;
}
.line {
    pointer-events: none;
}


.line ul a{
    text-decoration: none;
    position: relative;
    top: 15px;
    color: black;
}

.line ul a li{
    list-style: none;
    color: black;
    padding-top: 10px;
    font-weight: 600;
}

.line ul a li:hover{
    list-style: none;
    color: #f6eb13;
    padding-top: 10px;
    font-weight: 600;
    width: 300px;
}
